.container {
    padding: 16px;
    border-radius: 8px;
    background-color: #0004;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

    .subContainer {
        position: relative;
        height: 100%;
        width: 100%;
    }
}